{% extends 'base.html' %}

{% block content %}
<center>
    <br></br>
    <h1>Welcome to Restaurant Supply Express!</h1>
    <br></br>
    <p>On this application, you can add, update, and delete from any table found on the navigation bar above.
        The view dropdown displays some created view from the database. Each table found on the navigation bar
        shows a view of the entire table from the database. The page will have three buttons that allow for an
        add, update, or delete. This will display a form to you of required values for the procedure. Enjoy!</p>
</center>
{% endblock %}